@page
@model photoservice.Pages.EquipmentListModel
@{
    ViewData["Title"] = "Lista sprzętu";
}

<h2>Lista sprzętu</h2>

<!-- Przycisk do usuwania wszystkich sprzętów -->
<form method="post" asp-page-handler="DeleteAll" onsubmit="return confirm('Czy na pewno chcesz usunąć wszystkie sprzęty?');">
    <button type="submit" class="btn btn-danger mb-3">Usuń wszystkie sprzęty</button>
</form>

<!-- Przycisk do uzupełniania kolumny condition na "sprawny" -->
<form method="post" asp-page-handler="UpdateCondition" onsubmit="return confirm('Czy na pewno chcesz uzupełnić kolumnę o predefiniowaną wartość?');">
    <button type="submit" class="btn btn-warning mb-3">Ustaw kolumnę Stan na "Sprawny"</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>ID Sprzętu</th>
            <th>Nazwa</th>
            <th>Typ</th>
            <th>Producent</th>
            <th>Opis</th>
            <th>Stan</th>
            <th>Wydajność</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipment in Model.Equipments)
        {
            <tr>
                <td>@equipment.IdEq</td>
                <td>@equipment.Name</td>
                <td>@equipment.EqType.Name</td>
                <td>@equipment.EqManufacturer.Name</td>
                <td>@equipment.Description</td>
                <td>@equipment.Condition</td>
                <td>@equipment.Working</td>
                <td>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@equipment.IdEq" onsubmit="return confirm('Czy na pewno chcesz usunąć ten sprzęt?');">
                        <button type="submit" class="btn btn-danger">Usuń</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
