@page
@model photoservice.Pages.ReservationModel

<table class="table">
    <thead>
        <tr>
            <th>
                Data wydarzenia
            </th>
            <th>
                Usługa
            </th>
            <th>
                Rodzaj zlecenia
            </th>
            <th>
                Status
            </th>
            <th>
                Cena
            </th>
            <th>
                Inne informacje
            </th>
            <th>
                Data rezerwacji
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ReservationView)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OtherInfo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationTimestamp)
                </td>
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.IdRes">Detale</a>
                </td>
            </tr>
        }
    </tbody>
</table>
