@page
@model photoservice.Pages.ReservationModel

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservationView[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationView[0].ServiceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationView[0].ReservationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationView[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationView[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationView[0].OtherInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationView[0].ReservationTimestamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ReservationView)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OtherInfo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationTimestamp)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.IdRes">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.IdRes">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.IdRes">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
